@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
section {
  margin: 50px 0;
}

h2 span {
  color: #E2A25C;
}

h3 {
  color: #445B6C;
}

p {
  color: #445B6C;
  font-size: 15px;
  line-height: 1.5em;
}

a:link, a:visited {
  color: #E2A25C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul.list-unstyled {
  padding-left: 0;
  list-style-type: none;
}

#root {
  margin: 0 auto;
}

.navHolder {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}
.navLogo {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* Graham Jerome: */
  font-size: 28px;
  color: #445B6C;
}
.navLogo img {
  display: inline-block;
}
.navLinks {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  display: flex;
  align-self: center;
  justify-content: space-between;
}
.navLinks li {
  display: inline-block;
}
.navLinks li a:link {
  font-size: 18px;
  color: #7090A7;
}
.navLinks li a:hover {
  color: #E2A25C;
}