@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
section {
  margin: 50px 0;
}

h2 span {
  color: #E2A25C;
}

h3 {
  color: #445B6C;
}

p {
  color: #445B6C;
  font-size: 14px;
  line-height: 1.47em;
}

a:link, a:visited {
  color: #E2A25C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul.list-unstyled {
  padding-left: 0;
  list-style-type: none;
}

#root {
  margin: 0 auto;
}

.navHolder {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}
.navLogo {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* Graham Jerome: */
  font-size: 28px;
  color: #445B6C;
}
.navLogo img {
  display: inline-block;
}
.navLinks {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  display: flex;
  align-self: center;
  justify-content: space-between;
}
.navLinks li {
  display: inline-block;
}
.navLinks li a:link {
  font-size: 18px;
  color: #7090A7;
}
.navLinks li a:hover {
  color: #E2A25C;
}

#heroBanner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 250px;
  background: url('../images/heroBanner.jpg') center bottom no-repeat;
  background-size: cover;
}
#heroBanner h2 {
  width: 65%;
  margin: 0;
  font-size: 42px;
  color: #FFFFFF;
}

.introHolder {
  display: flex;
  justify-content: space-between;
}
.profilePicture {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profilePicture img {
  width: 200px;
  height: auto;
  margin-top: -120px;
}
.profilePicture a {
  margin-top: 50px;
  padding: 5px 8px;
  background: #E2A25C;
  color: #FFFFFF;
  text-align: center;
}
.introText {
  width: 65%;
  align-self: flex-end;
}
.introText p {
  margin-bottom: 0;
}

.mainContent {
  padding-top: 50px;
}

.skillsHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#experience {
  display: flex;
  flex-direction: column;
}
.experienceHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.experienceInfo {
  width: 30%;
}
.experienceInfo p {
  color: #82BFDA;
}
.experienceTasks {
  /* width: 70%; */
}
.experienceTasks ul li {
  margin-bottom: 25px;
}

#education {
  display: flex;
  flex-direction: column;
}
.educationHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 18.720px;
}
.educationHolder img {
  width: 100%;
  height: auto;
}
.educationLogo {
  width: 20%;
}
.educationInfo {
  width: 70%;
}
.educationInfo h3 {

}
.educationInfo h3 span {
  font-size: 0.8em;
  color: #82BFDA;
}

@media screen and (min-width:768px) {
  #root {
    width: 768px;
  }

  .navLogo {
    width: 50%;
  }
  .navLogo img {
    width: 80px;
    height: auto;
    margin-right: 25px;
  }
  .navLinks {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  #root {
    width: 992px;
  }
}
