/* Smaller Tablets */
@media screen and (min-width: 576px) {
	/* INTRO */
	.heroBanner {
		height: 250px;
	}
	.heroBanner h2 {
		width: 70%;
		font-size: 24px;
		text-align: right;
	}
	.introHolder {
		flex-direction: row;
		justify-content: space-between;
	}
	.profilePicture {
		width: 45%;
	}
	.profilePicture img {
	  width: 200px;
	  height: 200px;
	  margin-top: -115px;
	}
	.profilePicture a {
		margin-top: 50px;
	}
	.introText {
	  width: 55%;
	}
	.introText p {
	  margin-bottom: 0;
	}

	/* CONTENT AREAS */
	#mainContent h2 {
		text-align: left;
	}

	/* SKILLS */
	.skillsHolder {
		justify-content: flex-start;
	}
	.skill {
		width: 33.3%;
	}

	/* EXPERIENCE */
	.experienceHolder {
		flex-wrap: nowrap;
		justify-content: space-between;
		margin-bottom: 50px;
	}
	.experienceInfo {
		width: 30%;
		text-align: left;
	}
	.experienceTasks {
		width: 70%;
	}

	/* EDUCATION */
	.educationHolder {
		justify-content: space-between
	}
	.educationLogo {
	  width: 30%;
	  align-self: center;
	  text-align: left;
	}
	.educationLogo img {
	  width: 70%;
	}
	.educationInfo {
	  width: 70%;
	  text-align: left;
	}

	/* CONTACT */
	.contactHolder {
	  justify-content: space-between;
	}
	.hireInfo {
	  order: 0;
	  width: 60%;
	  text-align: left;
	}
	.hireLinks {
		/* custom */
		order: 1;
	  width: 40%;
	  text-align: right;
	}
}

/* Tablets */
@media screen and (min-width:768px) {

  .navLogo {
    width: 50%;
  }
  .navLogo img {
    width: 80px;
    height: auto;
    margin-right: 25px;
  }
  .navLinks {
    width: 50%;
  }

  /* INTRO */
  .heroBanner {
  	padding-right: 25px;
  }

	/* EXPERIENCE */
  .experienceInfo {
	  text-align: left;
	}

	/* EDUCATION */
	.educationInfo {
		width: 67%;
	}
}

/* Larger Screens */
@media screen and (min-width: 992px) {

	/* INTRO */
	.profilePicture {
		width: 33.3%;
	}
	.introText {
		width: 66.6%;
	}

  /* SKILLS */
  .skillsHolder {
  	justify-content: space-between;
  }
  .skill {
  	padding: 0;
  }
}

/* Typical Desktop */
@media screen and (min-width: 1024px) {
	.heroBanner {
		margin-left: 0px;
		 margin-right: 0px;
	}

	#root {
		width: 1024px;
		margin: 0 auto;
	}

	/* SKILLS */
	.skill {
		width: auto;
	}
}